# General rule for all:
#  - If a default constructor isn't set, no test can be performed.

-D VECTOR_DEFAULT_CONSTRUCTOR=1

    # .at();
    -D VECTOR_FUNC_AT=1
    # .begin();
    -D VECTOR_FUNC_BEGIN=1
    # .empty();
    -D VECTOR_FUNC_EMPTY=1
    # .size();
    -D VECTOR_FUNC_SIZE=1
    # .max_size();
    -D VECTOR_FUNC_MAX_SIZE=1
    # .capacity();
    -D VECTOR_FUNC_CAPACITY=1
    # .pushback();
    -D VECTOR_FUNC_PUSHBACK=1

    # Contructors:
    -D VECTOR_CONSTRUCTOR_ALL=1

        # Fill
        -D VECTOR_FILL_CONSTRUCTOR=1

        # Assignation
        -D VECTOR_ASSIGN_CONSTRUCTOR=1

    # Inserts:
    -D VECTOR_INSERT_ALL=1

        # Fill
        -D VECTOR_FILL_INSERT_FUNC=1
            ## Use (if defined to 1):
                # - VECTOR_DEFAULT_CONSTRUCTOR 
                #   && VECTOR_ITERATOR_ASSIGN_CONSTRUCTOR 

    # Destructor:
    -D VECTOR_DESTRUCTOR=1

    # Iterator:
    -D VECTOR_ITERATOR_ALL=1

        # assignement constructor 
        -D VECTOR_ITERATOR_ASSIGN_CONSTRUCTOR=1

        # operator +=
        -D VECTOR_ITERATOR_OPE_PLUS_EQUAL=1

        # operator ++
        -D VECTOR_ITERATOR_INCREMENTATION_RIGHT=1

    # Const Iterator:
    -D VECTOR_CONST_ITERATOR_ALL=1

        # assignement constructor
        -D VECTOR_CONST_ITERATOR_ASSIGN_CONSTRUCTOR=1

